{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | PriceHub</title>
</head>
<body>
{% block content %}
    <h1>Content</h1>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let result = []

    let inp = document.querySelector('.searchTerm')
    let cont = document.querySelector('.dropdown')
    inp.onkeyup = () => {
        if (inp.value && inp.value.length >= 3) {
            cont.classList.add('active')
            axios.get(`http://127.0.0.1:8000/api/products/?q=${inp.value}`)
                .then(res => reload(res.data))
        } else {
            cont.classList.remove('active')
        }
    }

    function reload(prodcucts) {
        cont.innerHTML = ''
        for (let i of prodcucts) {
            cont.innerHTML += `
                 <div class="dropdown-item">
                    <img width="40px" src="${i.photo}" alt="">
                    <div class="dropdown-title">
                        <span>${i.title}</span>
                        <span>${i.price}</span>
                    </div>
                 </div>
           `
        }
    }


</script>

</body>
</html>