<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>

    <style>
        .container {
            max-width: 1240px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="product__wrapper">
            <div class="product__photo">
                <img src="https://images.uzum.uz/cek6fv8v1htd23ajitk0/original.jpg" alt="">
            </div>
            <div class="product__info">
                <h1 class="title">Ластик для чистки замши и нубука Ecco</h1>
            </div>
        </div>
        <h1>Привет</h1>
    </div>
{% endblock %}
</body>
</html>